#hero h1, #hero h3 {
	display: inline-block;
	padding: 10px;
	transform: scale(1);
}

@keyframes swing {
	0%, 100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.25);
	}
}

#hero h1 {
	z-index: 10;
	font-weight: 700;
	animation-name: swing; 
	animation-iteration-count: infinite;
	animation-duration: 3s;
}

.pixel {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges; 
	image-rendering: -webkit-optimize-contrast; 
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor; 
}

#best {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-image: url("/static/crown.png");
	transform: translateY(-70%) rotate(-20deg) scale(3.5);
}

#second {
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-image: url("/static/second.png");
	transform: translateY(-70%) rotate(-20deg) scale(2.5);
}

#third {
	z-index: 8;
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 16px;
	background-image: url("/static/third.png");
	transform: translateY(-70%) rotate(-20deg) scale(2.5);
}

span.stand-out {
	color: #000;
	font-weight: bold;
}
