{% extends "layout.html" %}
{% block head %}
	<script src="{{ url_for('static', filename='js/sorttable.js') }}"></script>
{% endblock %}
{% block header %}
	<h1>{{ data.0.0.0 }}</h1>
	<p>has melded to their chair.</p>
{% endblock %}
{% block content %}

	<table id="metrics">
		<thead>
			<tr>
				<th>Total Registered</th>
				<th>Accumulated Time</th>
				<th>Worst Idler</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="reg">{{ data.1 }}</td>
				<td id="time">
					{{ ((data.2*5)//60)//24 }}<span>d</span> {{ ((data.2*5)//60)%24 }}<span>h</span>
				</td>
				<td id="worst">{{ data.3|truncate(16, True) }}</td>
			</tr>
		</tbody>
	</table>
	<table class='sortable' id="all">
		<thead>
			<tr>
				<th>#</th>
				<th>Username</th>
				<th>Points</th>
				<th>Days</th>
				<th>Hours</th>
				<th>Minutes</th>
			</tr>
		</thead>
		<tbody>
		{% for user in data.0 %}
			{% set mins = user.1*5 %}
			{% set hours = mins//60 %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ user.0 }}</td>
				<td>{{ user.1 }}</td>
				<td>{{ hours//24 }}</td>
				<td>{{ hours%24 }}</td>
				<td>{{ mins%60 }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
